/* **************Paleta de color******************************* */
:root {
  --colorblue1: #0c9af2;
  --colorblue2: #0869a6;
  --colorblue3: #52d5f2;
  --colorwhite: #f2f2f2;
  --colorBlack: #0d0d0d;
  --color1green: #00b327;
  --color2green: #098b18;
  --colorred1: #ff0000;
  --colorred2: #b30000;
  --yellowMy: #f5be62;
  --yellowMy2: #f5df49;
  --myGrey: #75716a;
  --myGrey2: #6a6c75;
}

/* *********************Box-Modal*************** */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", sans-serif;
  text-align: center;
}

/*************** Estilos generales*********** */

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--colorblue1);
  background-image: linear-gradient(
    to right top,
    #0c9af2,
    #0b91e3,
    #0a87d5,
    #097ec6,
    #0975b8,
    #037aba,
    #007ebb,
    #0383bc,
    #1197cb,
    #25acd9,
    #3bc0e6,
    #52d5f2
  );
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: var(--colorwhite);
}
button {
  font-weight: bold;
  color: var(--colorwhite);
}

h2 {
  color: var(--colorblue1);
  margin-bottom: 70px;
}
/* Estilo de label para todos los formularios */

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: var(--myGrey);
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
/* Estilo de input para todos los formularios */

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 8px;
  background: transparent;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 20px;
}
input:focus {
  border-color: var(--colorblue3);
}

input:focus {
  border-color: var(--colorblue3);
}

input:focus + label,
input:valid + label {
  position: absolute;
  color: #003f7d;
  transform: translateY(-79px);
  font-size: 14px;
}

/************************  formulario y Boton de login inicial******************* */

.titulo-principal {
  font-size: 5rem;
  color: var(--colorwhite);
}

/* ***Boton*** */

#logear a {
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  background-color: var(--color2green);
  border-radius: 6px;
  border: 1px solid var(--color1green);
  color: var(--colorwhite);
  padding: 10px 30px;
  cursor: pointer;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.1);
  transform: translateX(-50%);
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}
#logear a:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  background-color: var(--color1green);
  color: var(--colorBlack);
}
#logear a:active {
  position: relative;
  top: 1.5px;
}

/*********Div Formulario de login de usuarios *********/

.login-container {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--colorwhite);
  border-radius: 8px;
  box-shadow: 7px 10px 9px -1px rgba(0, 0, 0, 0.93);
  overflow: hidden;
  width: 425px;
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
  margin-top: 9rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.form-container {
  position: relative;
}

.login-container:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

/********Estilo de interior de formulario******  */

.form-group {
  margin-bottom: 20px;
  position: relative;
  transition: margin 0.3s ease-in-out;
}

.inicioFormulari {
  width: 19rem;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 8px;
  background: transparent;
  transition: border-color 0.3s ease-in-out;
  margin-bottom: 20px;
}
/* **Estilo visibilidad password** */

.password-toggle {
  position: absolute;
  top: 23%;
  right: 10px;
  transform: translate(0, -50%);
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  margin: 5px;
}

.password-toggle i {
  font-size: 18px;
  color: #ccc;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.3;
}

.password-toggle.active i {
  color: #ff0000;
}

/** Boton de inicio de sesion **/

#iniciarSesion {
  position: absolute;
  bottom: 0.7px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  background-color: var(--color2green);
  border-radius: 6px;
  border: 1px solid var(--color1green);
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  margin-bottom: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1),
    0 12px 24px rgba(0, 0, 0, 0.1);
}

#iniciarSesion:hover {
  background: var(--color2green);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#iniciarSesion:active {
  box-shadow: inherit;
}

/********** formulario ingreso o alta de usuarios*****  */

.login-container2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--colorwhite);
  border-radius: 8px;
  overflow: hidden;
  width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
  margin-top: 9rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.form-container2 {
  position: relative;
}

.form-container2 h2 {
  margin-bottom: 6rem;
}
.login-container2:hover {
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}
#dniSpecial2 {
  margin-left: 3.7rem;
}
#titulo-creacion {
  color: var(--colorblue1);
  margin-bottom: 70px;
  font-size: 3rem;
}

.creacion_usuari,
.creacion-usuari2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formUpdate1 {
  display: flex;
  gap: 40px;
  justify-content: center;
}

#dniSpecial {
  margin-right: -3.9rem;
}

.input-group2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Formulario de edicion de usaurios botones */
.update {
  width: 6rem;
  margin-right: 4rem;
  margin-top: 2rem;
}
#agregarButton2 {
  display: flex;
  justify-content: center;
  height: 2.8rem;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 3rem;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  background-color: var(--color1green);
}

#agregarButton2:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  background-color: var(--color1green);
  cursor: pointer;
  color: var(--colorBlack);
}
#agregarButton2:active {
  position: relative;
  top: 1px;
}

#agregar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.3rem;
  padding: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
 
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  background-color: var(--color1green);
  border: none;
  border-radius: 4px;
  margin-left: 17.7rem;
}

#agregar:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  background-color: var(--color1green);
  cursor: pointer;
  color: var(--colorBlack);
}
#agregar:active {
  position: relative;
  top: 1px;
}

#cancelarModiify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.3rem;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;
  margin-right: 3rem;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  background-color: var(--colorred1);
  border-radius: 7px;
  border: none;
  text-align: center;
}

#cancelarModiify:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
  color: var(--colorBlack);
}

#cancelarModiify:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  box-shadow: 1px 2px 0px 0px var(--colorblue3);
}

.users-form form input[type="submit"]:hover {
  background-color: green;
  color: white;
}

/*** Pantalla de Inicio *****/

.container-log {
  height: 100vh;
}
.container-bienvenida {
  margin-top: 11rem;
}

.contenido-logeo {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 3rem;
}

.titulo-principal h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-shadow: 3px 3px grey;
  color: whitesmoke;
}

/***logo pagina principal ****/

#myLogo img {
  width: 500px;
  animation: rotateLogo 15s infinite linear;
}

@keyframes rotateLogo {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* Boton alta */

#botonAlta {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 14px;
  border: 1px solid var(--colorblue2);
  border-radius: 8px;
  background: var(--colorblue1);
  background: (
    linear,
    left top,
    left bottom,
    from(var(--colorblue2)),
    to(var(--colorblue3))
  );

  background: linear-gradient(to bottom, var(--colorblue3), var(--colorblue2));
  -webkit-box-shadow: #7f59ff 1px 0px 8px 1px;

  box-shadow: #7f59ff 1px 0px 8px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: -4rem;
}
#botonAlta:hover,
#botonAlta:focus {
  border: 1px solid #422eb3;
  background: var(--colorblue2);
  background: (
    linear,
    left top,
    left bottom,
    from(var(--colorblue2)),
    to(var(--colorblue3))
  );

  background: linear-gradient(to bottom, var(--colorblue3), var(--colorblue1));
  color: var(--colorwhite);
  text-decoration: none;
}
#botonAlta:active {
  background: var(--colorblue2);

  background: linear-gradient(to bottom, var(--colorblue3), var(--colorblue2));
}
#botonAlta:after {
  content: "\0000a0";
  display: inline-block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  margin: 0 -4px -6px 4px;
  position: relative;
  top: 0px;
  left: 0px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAnklEQVRIiWNgGAU0AFUMDAxMxCpmJsOCPQwMDCwMDAyHGBgY/pOhnyD4CTW4kRaGI1sAs4To4CLHAoKWsKDxt2IRI6SnDkrXk+M6UjBRwUWJBURZQqkFGKmL6imAgYGBC58kpT7oJuRoSizAajh6kjuBRQwdWGAxqIeBgaGUgD6iAbovCQYLJRZQ3XBkC7qpbTCyBTRxOQy00tLwEQgA+/1vDWi3iA4AAAAASUVORK5CYII=")
    no-repeat left center transparent;
  background-size: 100% 100%;
}

.opcionUsuario {
  color: var(--colorblue1);
}

/*  Menu header de  pagina modificar Usuarios */

header {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu {
  display: flex;
  flex-direction: row;
}

.enlaces a {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  position: relative;
  margin: 2rem;
}

.enlaces a:hover {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color: var(--myGrey2);
}

.enlaces a:active {
  transform: translateY(3px);
}

.enlaces a:active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

/* Pagina usuaris registrats */

#pagina-bienvenida {
  width: 100%;
  height: 10rem;
  padding: 2rem;

  margin-top: 5rem;
  margin-bottom: 1rem;

  background-image: linear-gradient(
    to right top,
    #0c9af2,
    #0b91e3,
    #0a87d5,
    #097ec6,
    #0975b8,
    #037aba,
    #007ebb,
    #0383bc,
    #1197cb,
    #25acd9,
    #3bc0e6,
    #52d5f2
  );
  box-shadow: 4px 19px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 19px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 1rem;
}

#pagina-bienvenida:hover {
  box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
}

#pagina-bienvenida h1 {
  display: flex;
  align-items: center;
  color: whitesmoke;
  font-size: 4rem;
  text-shadow: 4px 9px 5px rgba(0, 0, 0, 0.75);
  -webkit-text-shadow: 4px 19px 5px rgba(0, 0, 0, 0.75);
  transition: text-shadow 0.3s ease-in-out;
}

/* Botones pagina de bienvenida */
.botones-bienvenida {
  margin-left: 0;
  display: flex;
  flex-direction: row;
}

.enlace-crear {
  display: inline-block;
  box-shadow: 3px 4px 0px 0px var(--color1green);
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );

  border-radius: 18px;
  border: 1px solid #18d01e;
  display: inline-block;
  cursor: pointer;
  color: var(--colorwhite);
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #1c8105;
  margin: 1rem;
  box-shadow: 4px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 9px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
}

.enlace-crear:hover {
  background: linear-gradient(to bottom, #47f237 5%, #1fc625 100%);
  background-color: #37f26f;
  box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
  color: var(--colorBlack);
}

.enlace-crear:active {
  position: relative;
  top: 1px;
}

.enlace-cerrar button {
  display: inline-block;
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
  margin: 1rem;
  box-shadow: 4px 9px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 9px 5px 0px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.3s ease-in-out;
}

.enlace-cerrar button:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
  box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 24px 10px 0px rgba(0, 0, 0, 0.75);
  color: var(--colorBlack);
}

.enlace-cerrar button:active {
  position: relative;
  top: 1px;
}

/**** Tabla de mostrar datos de ususarios ****/

#titulo2 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
  text-shadow: 3px 3px grey;
  margin-top: 1rem;
}

.tablaMostrarDatos {
  border: 1px solid black;
  margin: 2rem;
  padding: 8px;

  border-radius: 10px;
}

.tablaMostrarDatos th {
  background-color: var(--colorBlack);
  border: 1px solid black;
  padding: 13px;
  color: var(--colorwhite);
  border-radius: 2px;
  transition: transform 0.3s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 2;
}

.tablaMostrarDatos th:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
}

.tablaMostrarDatos td {
  background-color: var(--colorwhite);
  border: 1px solid black;
  padding: 12px;
  border-radius: 3px;
}

.tablaMostrarDatos td:hover {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

/***Botones e editar y eliminar de la tabla de usuarios ***/

/* Editar */

.users-table-edit {
  box-shadow: 3px 2px 0px 0px #cdda1b;
  background: linear-gradient(to bottom, #c4c420 5%, #daf038 100%);
  background-color: #98c420;
  border-radius: 4px;
  border: 1px solid #c1d715;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #dede1b;
}

.users-table-edit:hover {
  background: linear-gradient(to bottom, #daf038 5%, #98c420 100%);
  background-color: #daf038;
}
.users-table-edit:active {
  position: relative;
  top: 1px;
}

/* Eliminar */

.users-table-delete {
  box-shadow: 3px 4px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 4px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 7px 25px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #810e05;
}

.users-table-delete:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}
.users-table-delete:active {
  position: relative;
  top: 1px;
}

/* Estilos pantalla emergente */

.success-alert {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 0.6s ease-in-out;
}

.usuarisRegistrats {
  margin-top: 4rem;

  max-height: 25rem;
  overflow-y: scroll;
  position: sticky;
}

/*Texto pequeño formulario*/
#obligado {
  font-size: 10px;
  float: left;
  margin-top: 40px;
}

/* logo usuarisRegistrats */

#mylogowanted {
  float: right;
  position: fixed;
  top: 10px;
  left: 10px;
}

/* Boton desplegable menu de atipo de acceso */
.form-group-acces {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  margin-left: 16rem;
  margin-bottom: 10rem;
  position: absolute;
}

.form-group-acces select {
  margin-left: 15px;
  margin: 1rem;
  height: 2rem;
  border: dotted 1px grey;
  border-radius: 9px;
  background-color: var(--colorblue2);
  color: whitesmoke;
}

.form-group-acces2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem;
  margin-top: 10rem;
  position: absolute;
}

.form-group-acces2 select {
  margin-left: 15px;
  margin: 1rem;
  height: 2rem;
  border: dotted 1px grey;
  border-radius: 9px;
  background-color: var(--colorblue2);
  color: whitesmoke;
}

/* boton de cerrar sesion */

.cartelCerrar {
  background-color: rgba(89, 159, 230, 0.971);
  width: 500px;
  height: 200px;
  padding: 1rem;
  margin-top: 4rem;
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cartelCerrar h3 {
  margin-bottom: 1rem;
  -webkit-text-stroke: #2265a7;
}

.cartelCerrar button {
  margin-top: 30px;
}
#btn-conf {
  display: flex;
  flex-direction: row;
}
.cartelCerrar button:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
}

.cartelCerrar button:active {
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  box-shadow: 1px 2px 0px 0px var(--color1green);
}

#botonCancelar {
  margin-top: 30px;
}
.modal-content2 {
  display: flex;
  flex-direction: row;
}

#botonCancelar:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
}

#botonCancelar:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  box-shadow: 1px 2px 0px 0px var(--colorred1);
}

.adminPwd {
  width: 14rem;
  margin-left: 28rem;
}

#adminPwdInput {
  width: 7rem;
}

.tipuUser {
  margin-left: 28rem;
}

.tipuUser h2 {
  color: white;
}

/* boton cancelar borrar usuario */

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--colorwhite);
  font-weight: bold;
  font-size: 1.2rem;
  z-index: 1;
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: var(--colorblue2);
  margin: 25% auto;
  padding: 20px;
  width: 50%;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.modal-content-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  margin-top: 1.5rem;
}
/* onfirmar eliominación */
.confirmBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.3rem;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;

  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  background-color: var(--colorred1);
  border-radius: 7px;
  border: none;
  text-align: center;
  margin: 1rem;
  margin-bottom: -1rem;
}

.confirmBtn:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
}

.confirmBtn:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  box-shadow: 1px 2px 0px 0px var(--colorred1);
}

/*  boton de Cancelar */
.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 2.3rem;
  padding: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: white;

  cursor: pointer;
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  background-color: var(--colorred1);
  border-radius: 7px;
  border: none;
  text-align: center;
  margin: 1rem;
  margin-bottom: -1rem;
}
.cancelBtn:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
  color: var(--colorBlack);
}

.cancelBtn:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  box-shadow: 1px 2px 0px 0px var(--colorred1);
}
/* Boton amarillo usuaris registrats */

.copy button {
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--yellowMy) 5%,
    var(--yellowMy2) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--yellowMy);
  color: var(--colorBlack);
  margin-top: 11px;
  margin-left: 38rem;
}

.copy button:hover {
  background: linear-gradient(
    to bottom,
    var(--yellowMy2) 5%,
    var(--yellowMy) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--yellowMy);
  color: var(--colorwhite);
}

.copy button:active {
  background: linear-gradient(
    to bottom,
    var(--yellowMy) 5%,
    var(--yellowMy2) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--yellowMy);
}

/* Pagina de backUp de BD */

.backupStyle {
  padding: 3rem;
  margin-top: 10rem;
  
}
.backupStyle h2{
  color: var(--colorwhite);
  font-size: 30px;
}
#backup-aceptar {
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 18px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--colorBlack);
}

#backup-aceptar:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--colorBlack);
  color: var(--colorBlack);
  font-size: 20px;
}

#backup-aceptar:active {
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--color1green);
  font-size: 22px;
}

#backup-cancelar{
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--colorBlack);
  font-size: 18px;
}

#backup-cancelar:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--colorBlack);
  color: var(--colorBlack);
   font-size: 18px;
}

#backup-cancelar:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--colorred2);
  font-size: 22px;
}

.backupStyle button:first-child {
  margin-right: 1.5rem;
}

/* Pagina de restaurar copiad e seguridad */

.btn-baseDatos{
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--colorBlack);

  margin-top: 11px;
  margin-left: 1rem;
}

.btn-baseDatos:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--colorBlack);
  color: var(--colorBlack);
}

.btn-baseDatos:active {
  background: linear-gradient(
    to bottom,
    var(--myGrey) 5%,
    var(--myGrey2) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--colorBlack);
}

/* Botones restaurar */
#restorebackup-aceptar {
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 18px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--colorBlack);
}

#restorebackup-aceptar:hover {
  background: linear-gradient(
    to bottom,
    var(--color2green) 5%,
    var(--color1green) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--colorBlack);
  color: var(--colorBlack);
  font-size: 20px;
}

#restorebackup:active {
  background: linear-gradient(
    to bottom,
    var(--color1green) 5%,
    var(--color2green) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--color1green);
  font-size: 22px;
}

#restorebackup-cancelar{
  width: 13rem;
  height: 3rem;
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  border-radius: 0.5rem;
  border: none;
  font-size: 15px;
  padding: 10px;
  transition: ease 0.4s;
  box-shadow: 2px 1px 0px 0px var(--colorBlack);
  font-size: 18px;
}

#restorebackup-cancelar:hover {
  background: linear-gradient(
    to bottom,
    var(--colorred2) 5%,
    var(--colorred1) 100%
  );
  cursor: pointer;
  box-shadow: 1px 2px 0px 0px var(--colorBlack);
  color: var(--colorBlack);
   font-size: 18px;
}

#restorebackup-cancelar:active {
  background: linear-gradient(
    to bottom,
    var(--colorred1) 5%,
    var(--colorred2) 100%
  );
  border-radius: 0.8rem;
  transform: translateY(2px);
  border: 1px solid var(--colorred2);
  font-size: 22px;
}

.backupStyle h3{
  font-size: 30px;
  color: var(--yellowMy);
  margin-bottom: 5rem;
}

/* *********** Responsive *************

@media screen and (max-width: 767px) {

  body{
    background-color: var(--colorblue1);
  }

  .login-container {
    width: 90%;
    padding: 2.5rem;
   
    margin-top: 6rem;
  }

  .bienvenidaContainer {
    width: 91%;
    margin-top: 6rem;
   
  }
  #mylogowanted{
    margin-left: 4.8rem;
  }
  #bienvenida h1{
    font-size: 2.5rem;
  }

  #pagina-bienvenida {
    width: 100%;
    font-size: 2rem;
  }
} */
